<!DOCTYPE html>
<html ng-app="trick">
<base href="/">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="robots" content="noindex, nofollow">

    <meta name="theme-color" content="#fe3500">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="A dictionary of jumprope tricks">
    <meta name="keywords" content="Jumprope,Ropeskipping,jump,rope,skipping,tricks">
    <meta name="google-site-verification" content="xAU96Y3b_An5qAtS5Xu6fBbH2CwmuSSHoWpVnXc73Ps" />
    <link rel="manifest" href="/static/manifest.json">
    <link rel="icon" href="https://v1.the-tricktionary.com/static/img/icon.png">
    <link rel="apple-touch-icon" href="https://v1.the-tricktionary.com/static/img/icon-ios.png">
    <title ng-if="!subpage">the Tricktionary Admin</title>
    <title ng-if="subpage">the Tricktionary Admin{{ (subpage ? " - " + subpage : "") }}</title>
    <!-- Resources -->
    <script src="https://v1.the-tricktionary.com/static/js/angular.min.js"></script>
    <script src="https://v1.the-tricktionary.com/static/js/angular-resource.min.js"></script>
    <script src="https://v1.the-tricktionary.com/static/js/angular-route.min.js"></script>
    <script src="https://v1.the-tricktionary.com/static/js/angular-sanitize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script src="https://v1.the-tricktionary.com/static/js/angularfire.min.js"></script>
    <script src="https://v1.the-tricktionary.com/static/js/marked.min.js"></script>
    <script src="https://v1.the-tricktionary.com/static/js/angular-marked.js"></script>
    <!-- DEPLOY -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://v1.the-tricktionary.com/static/css/style.css">
    <link rel="stylesheet" href="https://v1.the-tricktionary.com/static/css/font-awesome.css">
    <link rel="stylesheet" href="https://v1.the-tricktionary.com/static/css/pt-sans.css">
    <!-- Local angular modules -->
    <script src="/trick.js"></script>
    <script src="/dash/dash.js"></script>
    <script src="/translate/translate.js"></script>
    <script src="/levels/levels.js"></script>
    <script src="/contact/contact.js"></script>
    <script src="/shop/shop.js"></script>
    <!-- END DEPLOY -->
</head>

<body>
    <nav>
        <ul class="topnav">
            <li ng-click="goHome()" class="pointer"><img src="https://the-tricktionary.com/static/img/tricktionary2.svg" />
                <div>&nbsp;<span class="small">the</span>Tricktionary Admin</div>
            </li>
            <li><a ng-href="/contact" onclick="toggleNav()">Contact</a></li>
            <li><a ng-href="/translate" onclick="toggleNav()">Translate</a></li>
            <li><a ng-href="/levels" onclick="toggleNav()">Levels</a></li>
            <li><a ng-href="/tricks" onclick="toggleNav()">Tricks</a></li>
            <li><a ng-href="/shop" onclick="toggleNav()">Shop</a></li>
            <li ng-if="user && !user.isAnonymous"><a ng-click="signOut()" onclick="toggleNav()">Sign Out</a></li>
            <li ng-if="!user || user.isAnonymous"><a ng-click="signIn()" onclick="toggleNav()">Sign In</a></li>
            <li class="icon" onclick="toggleNav()">&#9776;</li>
        </ul>
    </nav>

    <div ng-view>
        <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i> Loading... Enable javascript
        and/or clear cache.
    </div>

    <div class="foot" class="mt">
        <a ng-href="https://v1.the-tricktionary.com/about">Privacy Policy</a>
    </div>
