<a ng-href="/" class="back"><i class="fa fa-chevron-circle-left fa-2x"></i></a>

<h1>Contact</h1>
<div ng-if="person" ng-repeat="issue in person" class="article" ng-attr-id="{{ issue.$id }}">
    <h2 ng-class="(i == issue.$id ? 'black' : '')">{{ issue.type }}</h2>
    <h2>{{ issue.trickName }}</h2>
    <h3>{{ issue.trickType }}</h3>
    <div marked="issue.desc" opts="{sanitize: true, gfm: true}"></div>
    <p ng-if="issue.type == 'Incorrect Level'"><a ng-href="https://the-tricktionary.com/details/{{ issue.id0 }}/{{ issue.id1 }}">https://the-tricktionary.com/details/{{ issue.id0 }}/{{ issue.id1 }}</a>            should be level
        <b>{{ issue.level }}</b> in <b>{{ issue.org }}</b>
    </p>
    <a href="{{ issue.video }}" target="_blank">{{ issue.video }}</a>
    <div ng-if="issue.type != 'Trick Submission'">
        <h3 ng-if="issue.replies">Replies</h3>
        <h4 ng-repeat-start="reply in issue.replies">{{ reply.name }}</h4>
        <div marked="reply.reply" opts="{sanitize: true, gfm: true}" ng-repeat-end></div>
        <p ng-if="issue.resolved" class="gray">This issue has been closed and marked as resolved</p>
        <form ng-submit="newReply(issue, newReplyText)" class="center" ng-if="!issue.resolved && !user.isAnonymous">
            <textarea ng-model="newReplyText" placeholder="Your reply"></textarea>
            <input type="submit" value="Reply" />
        </form>
    </div>
    <div class="mt">
        <button ng-confirm-click="Do you really want to remove this issue?" confirmed-click="person.$remove(issue)"
            class="red inline"><i class="fa fa-trash-o"></i> Delete</button>
        <button ng-click="issue.resolved = true; person.$save(issue)" class="green inline"
            ng-hide="issue.resolved" ng-if="admin"><i class="fa fa-lock"></i> Resolve</button>
        <button ng-click="issue.resolved = false; person.$save(issue)" class="green inline"
            ng-show="issue.resolved" ng-if="admin"><i class="fa fa-unlock"></i> Reopen</button>
        <button ng-click="issue.email = user.email; person.$save(issue)" class="green inline"
            ng-hide="issue.email" ng-if="!admin"><i class="fa fa-envelope-o"></i> Subscribe to updates</button>
    </div>
</div>

<div ng-repeat="person in people" ng-if="!person || admin" class="article hover pointer"
    ng-click="$location.search('u', person.$id)">
    <span>{{ person[keys(person)[0]].name }}</span>
    <span class="pr">{{ keys(person).length - 3 }}</span>
    </div>
