<a ng-href="/" class="back">
  <i class="fa fa-chevron-circle-left fa-2x"></i>
</a>

<h1>Levels</h1>
<div class="box loading emt" ng-if="!data.length && user">
  <span>
    <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i><br/>
    Loading tricks
  </span>
</div>
<div ng-repeat="level in data" ng-if="user">
  <h2 class="searchheader">Level
    {{ level.level }}</h2>
  <div
    class="article"
    ng-href="/details/{{ level.id0 }}/{{ trick.id1 }}"
    ng-repeat="trick in level.subs | orderBy:'id1'"
    id="{{ level.id0 + '' + trick.id1 }}"
    ng-if="(!trick.levels.ijru.verified.verified || !trick.levels.irsf.verified.verified || !trick.levels.wjr.verified.verified) && (trick.levels.ijru.verified.suggestion.length > 0 || trick.levels.irsf.verified.suggestion.length > 0 || trick.levels.wjr.verified.suggestion.length > 0)">
    <div class="center s-2x">{{ trick.name }}</div>
    <p>
      <span class="gray"></span>{{ trick.description }}</p>
    <div class="video emb">
      <iframe
        class="video"
        ng-src="{{ trustAsResourceUrl('https://www.youtube-nocookie.com/embed/' + trick.video + '?loop=1&playsinline=1&rel=0') }}"
        frameborder="0"
        allowfullscreen="allowfullscreen"></iframe>
      <div class="levels">
        <span class="level"><span class="gray small">ijru Level:</span>
          {{ trick.levels.ijru.level }}
          <i
            ng-if="trick.levels.ijru.verified.verified"
            class="fa fa-check small"
            ng-class="(trick.levels.ijru.verified.vLevel == '1' ? 'gold' : 'gray')"></i>
        </span>
        <span class="level"><span class="gray small">fisac-irsf Level:</span>
          {{ trick.levels.irsf.level }}
          <i
            ng-if="trick.levels.irsf.verified.verified"
            class="fa fa-check small"
            ng-class="(trick.levels.irsf.verified.vLevel == '1' ? 'gold' : 'gray')"></i>
        </span>
        <span class="level"><span class="gray small">wjr Level:</span>
          {{ trick.levels.wjr.level
        }}
          <i
            ng-if="trick.levels.wjr.verified.verified"
            class="fa fa-check small"
            ng-class="(trick.levels.wjr.verified.vLevel == '1' ? 'gold' : 'gray')"></i>
        </span>
      </div>
    </div>
    <div class="box">
      <div
        ng-repeat="federation in ['ijru', 'irsf', 'wjr']"
        ng-if="trick.levels[federation].verified.suggestion">
        Suggested
        <b>{{ federation }}</b>
        Level:
        <span class="level">{{ trick.levels[federation].verified.suggestion }}</span>
        <i
          class="fa fa-user"
          ng-class="(trick.levels[federation].verified.vLevel == '1' ? 'gold' : 'gray')"></i>
        <button
          ng-click="accept(level.id0, trick.id1, federation, trick.levels[federation].verified.suggestion)"
          class="green">
          <i class="fa fa-check"></i>
          Accept
          {{ federation }}
          Level change</button>
        <button ng-click="deny(level.id0, trick.id1, federation)" class="red">
          <i class="fa fa-times"></i>
          Deny
          {{ federation }}
          Level change</button>
      </div>
    </div>
  </div>
</div>
