<div class="search" ng-hide="editing">
  <input
    type="text"
    ng-focus="trickList.focus = true"
    ng-blur="trickList.focus = false"
    ng-model="trickList.search"
    class="search-query"
    id="projects_search"
    placeholder="Search{{ (trickList.focus ? ' (by name, prerequisites...)' : '') }}">
  <label>
    <i class="fa fa-caret-down"></i>
    <select ng-model="newid0" ng-change="newTrick()">
      <option value="0">Level 1</option>
      <option value="1">Level 2</option>
      <option value="2">Level 3</option>
      <option value="3">Level 4</option>
      <option value="4">Level 5</option>
      <option value="" disabled="disabled" hidden="hidden" selected="selected">New Trick</option>
    </select>
  </label>
</div>
<a ng-href="/" class="back" ng-hide="editing">
  <i class="fa fa-chevron-circle-left fa-2x"></i>
</a>
<div class="error center" ng-if="error.show">
  <span ng-bind-html="error.text"></span>
  <a class="close" ng-click="error.show = !error.show">
    <i class="fa fa-times-circle"></i>
  </a>
</div>

<div class="box loading emt" ng-if="!data.length">
  <span>
    <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i><br/>
    Loading tricks
  </span>
</div>

<div ng-hide="editing" class="emt">
  <div class="box" ng-repeat="level in data">
    <h2 class="searchheader">Level
      {{ level.level }}</h2>
    <div ng-repeat="type in i18n.en.tricktypes track by $index" class="box">
      <h3 class="searchheader" ng-show="typeifs[level.id0][type]">{{ i18n.en.tricktypes[$index] }}</h3>
      <a
        class="parent"
        ng-href="/tricks/{{ level.id0 }}/{{ trick.id1 }}"
        ng-repeat="trick in level.subs | orderBy:'name' | filter:trickList.search"
        id="{{ level.id0 + '' + trick.id1 }}"
        ng-class="class(level.id0, trick.id1)"
        ng-if="trick.type == type && (typeifs[level.id0][type] ? true : typeifs[level.id0][type] = true)">
        {{ (lang.$value && trick.i18n[lang.$value].name ? trick.i18n[lang.$value].name :
                trick.name) }}
      </a>
    </div>
  </div>
</div>

<div ng-show="editing && data.length">
  <a ng-href="/tricks/#{{ id0 + '' + id1 }}" class="back">
    <i class="fa fa-chevron-circle-left fa-2x"></i>
  </a>
  <h1>Editing Trick</h1>
  <div class="center">
    <label for="id0">id0:</label>
    <input
      id="id0"
      type="text"
      placeholder="id0"
      ng-model="id0"
      required="required"
      disabled="disabled"/>
  </div>
  <div class="center">
    <label for="id0">id1:</label>
    <input
      id="id1"
      type="text"
      placeholder="id1"
      ng-model="data[id0].subs[id1].id1"
      required="required"
      disabled="disabled"/>
  </div>
  <div class="center">
    <label for="name">Name:</label>
    <input
      id="name"
      type="text"
      placeholder="Name"
      ng-model="data[id0].subs[id1].name"
      required="required"/>
  </div>
  <div class="center">
    <label for="type">Type:
      <i class="fa fa-caret-down"></i>
      <select
        id="type"
        placeholder="Type"
        ng-model="data[id0].subs[id1].type"
        required="required"
        ng-options="type for type in i18n.en.tricktypes"></select>
    </label>
  </div>
  <div class="center">
    <label for="description">Description:</label>
    <textarea
      id="description"
      placeholder="Description"
      ng-model="data[id0].subs[id1].description"
      required="required"></textarea>
  </div>
  <div class="center">
    <label for="submitter">Submitter:</label>
    <input
      id="submitter"
      type="text"
      placeholder="Submitter"
      ng-model="data[id0].subs[id1].by"
      required="required"/>
    <a ng-click="data[id0].subs[id1].by = user.uid"><i class="fa fa-user"></i> Me</a>
  </div>
  <div class="center">
    <label for="video">Video ID:</label>
    <input
      id="video"
      type="text"
      placeholder="Video ID (after youtube.com/watch?v=)"
      ng-model="data[id0].subs[id1].video"
      required="required"/>
  </div>
  <div class="center">
    <label for="slowMoStart">Slow Motion Start (seconds):</label>
    <input
      id="slowMoStart"
      type="number"
      placeholder="Slow Motion Start (seconds)"
      ng-model="data[id0].subs[id1].slowMoStart"/>
  </div>
  <div class="center">
    <label for="ijrulevel">ijru level:</label>
    <input
      id="ijrulevel"
      type="text"
      placeholder="ijru level"
      ng-model="data[id0].subs[id1].levels.ijru.level"
      ng-change="unverify('ijru')"
      required="required"/>
  </div>
  <div class="center">
    <label for="fisaclevel">fisac-irsf level:</label>
    <input
      id="fisaclevel"
      type="text"
      placeholder="fisac-irsf level"
      ng-model="data[id0].subs[id1].levels.irsf.level"
      ng-change="unverify('irsf')"
      required="required"/>
  </div>
  <div class="center">
    <label for="wjrlevel">wjr level:</label>
    <input
      id="wjrlevel"
      type="text"
      placeholder="wjr level"
      ng-model="data[id0].subs[id1].levels.wjr.level"
      ng-change="unverify('wjr')"
      required="required"/>
  </div>
  <div class="center">
    <h2>Alternative Names</h2>
    <a ng-click="newAltName()">
      <i class="fa fa-plus"></i>
      New Alternative Name</a>
    <div
      ng-repeat="pre in data[id0].subs[id1].alternativeNames track by $index">
      <!-- {{ $index }}: -->
      <label for="altname{{ $index }}">Name {{ $index + 2 }}:</label>
      <input id="altname{{ $index }}" type="text" ng-model="data[id0].subs[id1].alternativeNames[$index]"/>
      <a ng-click="delAltName($index)">
        <i class="fa fa-trash-o"></i>
        Remove</a>
    </div>
  </div>
  <div class="center">
    <h2>Prerequisites</h2>
    <a ng-click="newPrereq()">
      <i class="fa fa-plus"></i>
      New Prerequisite</a>
    <div
      ng-repeat="pre in data[id0].subs[id1].prerequisites track by $index"
      ng-if="pre.name != 'None'">
      <label>
        <i class="fa fa-caret-down"></i>
        <select class="sm" ng-model="data[id0].subs[id1].prerequisites[$index]" ng-options="trick as (data[trick.id0].subs[trick.id1].name + ' (' + trick.id0 + ' ' + trick.id1 + ')') group by ('Level ' + data[trick.id0].level) for trick in flat"></select>
      </label>
      <!-- {{ $index }}: -->
      {{ data[pre.id0].subs[pre.id1].name }}
      ({{ pre.id0 }}
      {{ pre.id1 }})
      <a ng-click="delPrereq($index)">
        <i class="fa fa-trash-o"></i>
        Remove</a>
    </div>
  </div>
  <div class="center">
    <button ng-click="save(id0, id1)" class="green inline"><i class="fa fa-floppy-o"></i> Save</button>
    <span ng-show="saving"><i class="fa fa-spinner fa-spin"></i> Saving</span>
  </div>

  <h2>Preview Data</h2>
  <pre>{{ data[id0].subs[id1] | json }}</pre>
</div>
