<div class="box loading emt" ng-if="!user">
  <span>You must be signed in to use this page, use the sign in button in the top right corner.</span>
</div>
<div class="box loading emt" ng-if="user && !admin">
  <span>You are not an administrator.</span>
</div>
<div class="box" ng-if="user && admin">
  <a class="parent" ng-href="/contact">Contact</a>
  <a class="parent" ng-href="/translate">Translate</a>
  <a class="parent" ng-href="/levels">Levels</a>
  <a class="parent" href="/tricks">Tricks</a>
  <a class="parent" ng-href="/shop">Shop</a>
</div>
